<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel ="icon" href="/image/weather.png">
    <link rel="stylesheet", href="/CSS/style.css">
    </head>

    <body>

        <div class="main-content">

              {{>header}}
              <p>This site was created by Shanmugam. It uses data from mapbox.com and darksky.com.</p>
            <img class= "portrait" src = "/image/robot.png">
        </div>
     
       
         {{>footer}}
    </body>

    </html>